
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  i {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  
  .cart {
    position: relative;
    /* background-color: #fff; */
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
  }
  
  .cartAmount {
    position: absolute;
    top: -10px;
    right: -5px;
    width: 17px;
    font-size: 16px;
    background-color: rgb(9, 231, 20);
    color: white;
    padding: 3px;
    border-radius: 3px;
  }
  
 
  
  .shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
  }
  
  @media (max-width: 1000px) {
    .shop {
      grid-template-columns: repeat(2, 223px);
    }
  }
  
  @media (max-width: 500px) {
    .shop {
      grid-template-columns: repeat(1, 223px);
    }
  }
  
  .item {
    border: 2px solid #212529;
    border-radius: 4px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  
  .price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttons {
    display:none;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
  }
  
  .bi-dash-lg {
    color: red;
  }
  
  .bi-plus-lg {
    color: green;
  }
  
 
  .text-center {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .HomeBtn,
  .checkout,
  .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .checkout {
    background-color: green;
  }
  .removeAll {
    background-color: red;
  }
  .bi-x-lg {
    color: red;
    font-weight: bold;
  }
  
 
  .shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
  }
  
.cart-item {
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
  }
  
  .title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  
  .title-price {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
  }
  /* ////////////////////////////////////////////// */
  /* .slider-containerMain{ */
    /* background-image: url(/images/assets/back.jpg)  ; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  /* } */
  .slider-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: white;
    height: 500px;
    
  }
  
  .slider-wrapper {
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    
    transition: transform 0.5s ease-in-out;
  }
  
  .slider .item {
    min-width:25%; /* Adjust this width for the number of items per view */
    box-sizing: border-box;
    border: none;
    padding: 10px;
  }
  
  .slider .item img {
    width: 100%;
    height: 50%;
    cursor: pointer;
    transition-duration: 1s;

  }
  .slider .item img:hover {
    transform: scale(1.1);
    
  }
  .desc {
     display: -webkit-box;
    -webkit-line-clamp: 2;     
    -webkit-box-orient: vertical;
    overflow: hidden;         
    text-overflow: ellipsis;   
    max-height: 3em;           
    line-height: 1.5em;  
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .slider-button.prev {
    left: 10px;
  }
  
  .slider-button.next {
    right: 10px;
  }
  
  .price-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  